# Node server
PORT=port
DB_HOST=db_host
DB_USER=db
DB_PASSWORD=password
DB_NAME=db_name

# MySQL
MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=name

# phpMyAdmin
PMA_HOST=name
PMA_PORT=port
PMA_USER=user
PMA_PASSWORD=password

# JWT
JWT_SECRET=jwt_code
JWT_EXPIRES_IN=1h

# OTP
OTP_EXPIRY_SECONDS=300   # 5 นาที

# Email SMTP
# Gmail SMTP
SMTP_HOST=host
SMTP_PORT=port
SMTP_USER=user
SMTP_PASS=passkey
EMAIL_FROM=email